<!-- <li class="list-group-item" >
    <label class="checkboxRadio">
        <input name="g1" type="radio" value="delevery" (click) = "setSelection('delevery')" [(ngModel)]="address.selection"/>
        <span class="primary"></span>
    </label>
    Delevery
    <label class="checkboxRadio">
    <input name="g1" type="radio"  value="pickup" (click) = "setSelection('pickup')"   [(ngModel)]="address.selection"/>
        <span class="primary"></span>
    </label>
    Pickup
</li>

<div class="col-md-8 order-md-1" *ngIf="address.selection == 'delevery'">
    <h4 class="mb-3">Information</h4>
    <form class="needs-validation" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName"  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
               
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
               
            </div>
        </div>
       
        <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            
        </div>
        <div class="mb-3">
            <label for="email">Phone </label>
            <input type="text" class="form-control" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            
        </div>

        <div class="mb-3">
            <label for="email">Zip </label>
            <input type="text" class="form-control" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
            
        </div>
        <div class="mb-3">
            <label for="address">Address</label>
            <textarea class="form-control" id="address"  formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
            
        </div>
      
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
    </form>
</div>

<div class="col-md-8 order-md-1" *ngIf="address.selection == 'pickup'">
    <h4 class="mb-3">Information</h4>
    <form class="needs-validation" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName"  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
               
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
               
            </div>
        </div>
       
        <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            
        </div>
        <div class="mb-3">
            <label for="email">Phone </label>
            <input type="text" class="form-control" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            
        </div>

        <div class="mb-3">
            <label for="email">Zip </label>
            <input type="text" class="form-control" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
            
        </div>
        <div class="mb-3">
            <label for="address">Address</label>
            <select class="form-control" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <option value="">Please Select</option>
                <option *ngFor="let loc of pickUpLocation" value="{{loc.name}}">{{loc.name}}</option>
            </select>
           
        </div>
      
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
    </form>
</div>

<div class="container" *ngIf="addressInfo">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row"  *ngIf="addressInfo">
                  
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{addressInfo.firstName}}  {{addressInfo.lastName}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{addressInfo.email}}
                            <br />
                           
                            <i class="glyphicon glyphicon-gift"></i>{{addressInfo.address}},{{addressInfo.zip}}<br />
                            <i class="glyphicon glyphicon-gift"></i>{{addressInfo.phone}}<br />
                            <i class="glyphicon glyphicon-gift"></i>{{addressInfo.type}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

     <!-- link to the SqPaymentForm library -->

   <!-- link to the local SqPaymentForm initialization -->

   <!-- <div class="row no-gutters create-account">
    <div class="col-3"></div>
    <div class="col-6 card-box" id="card_1">  
      <div class="middle"> 
      <div id="sq-ccbox">
      <h2>Payment Information</h2>

      <form id="nonce-form" novalidate  method="post">
     

        <h2>Pay with a Credit Card</h2>
        <label for="sq-card-number">Card Number:</label>
        <div id="sq-card-number"></div>
        <label for="sq-cvv">CVV:</label>
        <div id="sq-cvv"></div>
        <label for="sq-expiration-date">Expiration Date:</label>
        <div id="sq-expiration-date"></div>
        <label for="sq-postal-code">Postal Code:</label>
        <div id="sq-postal-code"></div>

        <button id="sq-creditcard" class="btn-main button-credit-card" (click)="this.requestCardNonce($event)">Pay with card</button>
      
        <input type="hidden" id="sq-id" name="sq-id">
        <input type="hidden" id="card-nonce" name="nonce">


      </form>
    </div>
    </div>

  </div>
</div> -->



<div class="container">

    <div class="py-5 text-center">
        <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h2>Checkout form</h2>
       
    </div>
    <div class="row mb-4">
        
            <div class="col-md-2">
                <label class="checkboxRadio">
                    <input name="g1" type="radio" value="delevery" (click) = "setSelection('delevery')" [(ngModel)]="address.selection"/>
                    <span class="primary"></span>
                </label>
                Delivery
            </div>
            <div class="col-md-2">
                <label class="checkboxRadio">
                    <input name="g1" type="radio"  value="pickup" (click) = "setSelection('pickup')"   [(ngModel)]="address.selection"/>
                        <span class="primary"></span>
                    </label>
                    Pickup
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
            </div>
            
            
        
    </div>
    <div class="row">
        <div class="col-md-5" *ngIf="address.selection == 'delevery'">
            <div class="delivery-form">
            <h4 class="mb-3">Information</h4>
            <form class="needs-validation" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName"  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                       
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                       
                    </div>
                </div>
               
                <div class="mb-3">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    
                </div>
                <div class="mb-3">
                    <label for="email">Phone </label>
                    <input type="text" class="form-control" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    
                </div>
        
                
                <div class="mb-3">
                    <label for="address">Address 1</label>
                    <textarea class="form-control" id="address"  formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                    
                </div>
                <div class="mb-3">
                    <label for="address">Address 2</label>
                    <textarea class="form-control" id="address"  formControlName="address2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }"></textarea>
                    
                </div>
                <div class="mb-3">
                    <label for="email">City </label>
                    <input type="text" class="form-control" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    
                </div>

                <div class="mb-3">
                    <label for="email">State </label>
                    <input type="text" class="form-control" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                    
                </div>
                <div class="mb-3">
                    <label for="email">Zip </label>
                    <input type="text" class="form-control" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                    
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </form>
        </div>
        </div>
        
        <div class="col-md-5 " *ngIf="address.selection == 'pickup'">
            <div class="delivery-form">
            <h4 class="mb-3">Information</h4>
            <form class="needs-validation" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName"  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                       
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                       
                    </div>
                </div>
               
                <div class="mb-3">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    
                </div>
                <div class="mb-3">
                    <label for="email">Phone </label>
                    <input type="text" class="form-control" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    
                </div>
        
                <div class="mb-3">
                    <label for="email">Zip </label>
                    <input type="text" class="form-control" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                    
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <select class="form-control" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                        <option value="">Please Select</option>
                        <option *ngFor="let loc of pickUpLocation" value="{{loc.location}} {{loc.eventStartDate.seconds | date:'medium'}} {{loc.eventEndDate.seconds | date:'medium' }}">{{loc.location}} {{loc.eventStartDate.seconds | date:'medium'}} {{loc.eventEndDate.seconds | date:'medium' }}</option>
                    </select>
                   
                </div>
              
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </form>
            </div>
        </div>
        
        <div class="col-md-7" >
            <div class="delivery_addr" *ngIf="addressInfo">
                <h4 class="mb-3">Delivery Address</h4>
                <h4>
                    {{addressInfo.firstName}}  {{addressInfo.lastName}}</h4>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> {{addressInfo.email}}
                    <br />
                   
                    <i class="glyphicon glyphicon-gift"></i>{{addressInfo.address}},{{addressInfo.zip}}<br />
                    <i class="glyphicon glyphicon-gift"></i>{{addressInfo.phone}}<br />
                    <i class="glyphicon glyphicon-gift"></i>{{addressInfo.type}}</p>
            </div> 
            
            <div class="cart-block">    
                <div class="row">        
                    <div class="col-md-6 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted cart-head">Your cart</span>
                            <span class="badge badge-secondary badge-pill">{{ totalCount }}</span>
                        </h4>
                        <ul class="list-group mb-3 sticky-top">
                            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of cartItems; let i = index">
                                <div>
                                    <h6 class="my-0">{{ item.itemName }} {{item.itemCrust}} ({{item.quantity}})</h6>
                                    <ng-container *ngFor="let toppings of item.itemDescription">
                                      <small class="text-muted" >{{toppings.name }} ({{toppings.toppingType}})</small><br>
                                    </ng-container>
                                   
                                </div>
                                <span class="text-muted">${{ item.price * item.quantity.toFixed(3) }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed"> <div>
                              <h6 class="my-0">Tax</h6>
                            
                            </div>
                            <span class="text-muted">${{ taxes?.toFixed(3) }}</span>
                            </li>
              
                            <li class="list-group-item d-flex justify-content-between bg-light" *ngIf="coupanApplied && coupanResponse.type=='percentage'">
                              <div class="text-success">
                                  <h6 class="my-0">Promo code</h6>
                                
                              </div>
                              <span class="text-success">{{ coupanResponse.value }}% off</span>
                          </li>
              
                          
                          <li class="list-group-item d-flex justify-content-between bg-light" *ngIf="coupanApplied && coupanResponse.type=='amount'">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                              
                            </div>
                            <span class="text-success">${{ coupanResponse.value }} off</span>
                        </li>
              
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <strong>${{ finalPrice?.toFixed(3) }}</strong>
                            </li>
                        </ul>
                  
                    </div>
                    <div class="col-md-6 order-md-1">
                      <h4 class="mb-3">Pay with your card</h4>
                      <div id="form-container">
                        <div id="sq-card-number"></div>
                        <div class="third" id="sq-expiration-date"></div>
                        <div class="third" id="sq-cvv"></div>
                        <div class="third" id="sq-postal-code"></div>
                        <button id="sq-creditcard" class="button-credit-card" [ngClass]="{'disable': !addressInfo}" (click)="this.requestCardNonce($event,order)">Pay ${{ finalPrice?.toFixed(3) }}</button>
                      </div>
                    </div>
                   
                </div>
              
              </div>
        </div>
    </div>
  
  
  
  <ng-template #order let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Order Placed</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="thank-you-pop">
      <h1>Thank You!</h1>
      <p>Your order is placed and we will contact you soon</p>
      <h3 class="cupon-pop">Your Order ID: <span>{{orderId}}</span></h3>
       </div>
      </div>
     
  </ng-template>