<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Locations</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Locations</li>
                </ol>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Locations
                        <button style="float:right" (click)="addLocation()">Add Location</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Location</th>                 
                                        <th>Actions</th>
                                        
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <tr *ngFor="let loc of locations">
                                        <td>{{loc.id}}</td>
                                        <td>{{loc.name}}</td>                                    
                                       <td><a href="javasccript:void(0)" >Delete</a></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
    </div>
    </div>