<div class="container">
  
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="'/'">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{product.itemName}}</li>
      </ol>
    </nav>
    <div class="product-details row text-center">
      <div class="col-md-12">
        <h2>{{product.itemName}}</h2>
    </div>
    </div>  
    <div class="product-details row">
       <div class="col-md-6">
        <img class="img-fluid" src={{product.itemImageUrl}} alt={{product.itemName}}> 
       </div>
       <div class="col-md-6">
        
        <ngb-accordion [closeOthers]="true" activeIds="">
          <ngb-panel id="product-details" title="Product Details">
            <ng-template ngbPanelContent>
              {{product.itemFullDescription}}
            </ng-template>
          </ngb-panel>
          <ngb-panel id="preparation" title="Preparation">
            <ng-template ngbPanelContent>
              <h5>COOK FROZEN</h5>
              {{product.itemPreparationInstructions}}
              <p><small>*cooking time and oven temperatures may vary.</small></p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="nutrition-ingredients" title="Nutrition">
            <ng-template ngbPanelContent>
              <div class="row">
                <img id="nutritionImg" class="img-fluid" src={{product.itemNutritionImageUrl}} alt={{product.itemName}}> 
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ingredients" title="Ingredients">
            <ng-template ngbPanelContent>
              <div class="row">
                <h5>{{"CONTAINS: " + product.itemFoodAlergens}}</h5>
                <p>{{product.itemIngredients}}</p>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
   </div>
      
      
  
        
  