<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Add Location</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Add Location</li>
                </ol>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Add Location
                     
                    </div>
                    <div class="card-body">
                        <div class="col-md-8 order-md-1" >
                          
                            <form class="needs-validation" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="location">Location</label>
                                        <input type="text" class="form-control" id="location"  formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                                       
                                    </div>
                                </div>
                               
                 
                              
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
    </div>
    </div>