


    <div class="album py-2 bg-light">
       <div class="container">
           
      
           
           <div class="row">
               <div class="col-md-12 col-sm-12  col-xs-12">
                   <div class="shadow pt-2 mb-2 bg-white rounded" style="border-left: 5px solid #2196F3">
                   <div class="row">
                       <div class="col-md-12">
                           <div  style="margin:10px 0">
                               <h4>   <div class="current-price"> Total Price = ${{currentPrice}}</div></h4> 
                               <ul [ngClass]="{'block': currentPage === 0,'none':currentPage != 0}">
                                <h1 class="pizzaHeading">Select Size</h1>
                                   <li class="list-group-item" *ngFor="let sizes of pizzaSizes;">
                                       <label class="checkboxRadio">
                                           <input name="g1" type="radio" value="{{sizes.name}}" [(ngModel)]="pizzaModel.selectedSize" (change)="isNextButtonDisabled();getToppings()" />
                                           <span class="primary"></span>
                                       </label>
                                       {{sizes.name}}
                                   </li>
                               </ul>
                               <ul [ngClass]="{'block': currentPage === 1,'none':currentPage != 1}">
                                <h1 class="pizzaHeading">Select Crust</h1>
                                <li class="list-group-item" *ngFor="let crusts of pizzaCrusts;">
                                    <label class="checkboxRadio">
                                        <input name="g2" type="radio"  value="{{crusts.name}}"  [(ngModel)]="pizzaModel.selectedCrust" (change)="isNextButtonDisabled()" />
                                        <span class="primary"></span>
                                    </label>
                                    {{crusts.name}}
                                </li>
                            </ul>
                            <ul [ngClass]="{'block': currentPage === 2,'none':currentPage != 2}">
                                <h1 class="pizzaHeading">Select Toppings</h1>
                                <li class="list-group-item" *ngFor="let toppings of pizzaToppings;let i=index">
                                    <label class="checkboxRadio">
                                        <input name="g3" type="checkbox" (change)="validateToppingLimit()" [(ngModel)] = "toppings.checked"   value="{{toppings.name}}"/>
                                        <span class="primary"></span>
                                    </label>
                                    {{toppings.name}}
                                   
                                    
                                    <div *ngIf="toppings.checked" class="toppings_container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="checkboxRadio">
                                                    <input type="radio" name="{{i}}" (change)="validateToppingLimit()" [(ngModel)] = "toppings.toppingType" value="LH" >
                                                    <span class="primary"></span>
                                                </label>
                                                Left Half
                                                
                                            </div>
                                            <div class="col-md-4">
                                                <label class="checkboxRadio">
                                                    <input type="radio"  name="{{i}}" (change)="validateToppingLimit()" [(ngModel)] = "toppings.toppingType" value="FULL">
                                                    <span class="primary"></span>
                                                </label>
                                               FULL
                                               
                                            </div>
                                            <div class="col-md-4">
                                                <label class="checkboxRadio">
                                                    <input type="radio"  name="{{i}}" (change)="validateToppingLimit()"  [(ngModel)] = "toppings.toppingType" value="RH">
                                                    <span class="primary"></span>
                                                </label>
                                                Right Half
                                               
                                            </div>
                                        </div>
                                      
                                    </div>
                                  

                                </li>
                            </ul>

                           </div> 
                       </div>
                   </div>
                   
               
                   <div class="row justify-content-end">
                        <div class="col-md-3 mr-3"  *ngIf="!isCartValid">
                        <div class="alert alert-danger" role="alert">
                            Topping limit exceeds.
                           </div>
                       </div>
                       <div class="col-md-12">
                           
                           <div class="nav-scroller py-1 mb-2 p-3">
                               <div class=" nav d-flex dataTables_paginate paging_simple_numbers ">
                                   <ul class="pagination pagination-md flex-sm-wrap">
                                    <li class="paginate_button page-item back-btn"><a class="back" href="javascript:void(0)"  *ngIf = "currentPage > 0" (click)="changePage(-1)">Back</a></li>
                                   <li class="paginate_button  page-item"><a class="page-link" href="javascript:void(0)"  (click)="cart()" *ngIf="currentPage ==2"  [ngClass]="{'disable': !isCartValid}">Add to Cart</a></li>
                                   <li class="paginate_button  page-item btn-blue" ><a class="page-link" href="javascript:void(0)"  (click)="changePage(1)" *ngIf="currentPage !=2" [ngClass]="{'disable': nextButtonDisabled}">Next</a></li>
                                   </ul>
                               </div>
                           </div>
                        
                       </div>		
                   </div>
               </div>
           </div>
       </div>
    </div>

