.pagination .page-item .page-link:hover {
    background-color: #eee;
    border-radius: .125rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #4285f4;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.pagination .page-item.not-select .page-link {
    color: #fff;
    background-color: #F4511E;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.pagination .page-item .page-link {
    font-size: .9rem;
    color:white;
    background-color: #007bff;
    border: 0;
    margin-left: 4px;
    outline: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
        margin-bottom: 15px;
    
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
}
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
.logo-area {
    
    background-repeat: no-repeat;
}
.logo-area {
    width: 260px;
    display: block;
    min-height: 60px;
    float: right;
}

.navbar {
    padding: .3rem 0.3rem !important;
}




/*radio button css*/

@keyframes check {0% {height: 0;width: 0;}
    25% {height: 0;width: 10px;}
    50% {height: 20px;width: 10px;}
}
.checkboxRadio{
    background-color:#fff;
    display:inline-block;
    height:28px;
    margin:0 .25em;
    width:28px;
    border-radius:4px;
    border:1px solid #ccc;
    float:left
}
.checkboxRadio span{
    display:block;
    height:28px;
    position:relative;
    width:28px;
    padding:0
}
.checkboxRadio span:after{
    -moz-transform:scaleX(-1) rotate(135deg);
    -ms-transform:scaleX(-1) rotate(135deg);
    -webkit-transform:scaleX(-1) rotate(135deg);
    transform:scaleX(-1) rotate(135deg);
    -moz-transform-origin:left top;
    -ms-transform-origin:left top;
    -webkit-transform-origin:left top;
    transform-origin:left top;
    border-right:4px solid #fff;
    border-top:4px solid #fff;
    content:'';
    display:block;
    height:20px;
    left:3px;
    position:absolute;
    top:15px;
    width:10px
}
.checkboxRadio span:hover:after{
    border-color:#999
}
.checkboxRadio input{
    display:none
}
.checkboxRadio input:checked + span:after{
    -webkit-animation:check .8s;
    -moz-animation:check .8s;
    -o-animation:check .8s;
    animation:check .8s;
    border-color:#555
}
.checkboxRadio input:checked + .default:after{
    border-color:#444
}
.checkboxRadio input:checked + .primary:after{
    border-color:#2196F3
}
.timercss{
    font-size: 25px;
    font-family: cursive;
    color: #FFEB3B !important;
}
.list-group-item {
    padding: .45rem 1rem;
}
.list-group-flush label {
    margin-bottom: .0rem !important;
}
.pagination {
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: flex-end;
    width: 100%;
}
.back-btn{
    margin-right:auto;
}
.back-btn a{
    margin-right:auto;
    font-size: .9rem;
    color: white !important;
    background-color: #c62829;
    border: 0;
    margin-left: 4px;
    outline: 0;
    transition: all .3s linear;
    margin-bottom: 15px;
    padding: 12px 30px;
}
.btn-blue a, a.page-link{
    padding: 12px 30px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-success1 {
    color: #525252;
    background-color: #e4e4e4;
    border-color: #9a9a9a;
}
.username {
    font-weight: 500;
}
.profile-block{
    margin:5px auto;
    position:relative;
    overflow:hidden;
}
.profile-block .nav > li > a {
    background: #e7e7e7;
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 14px;
    padding: 6px 18px;
    position: relative;
    text-align: left;
    text-decoration: none;
    
    
}
.profile-block ul > li > a > i {
    color: #000;
    font-size: 16px;
    padding-right: 10px;
}
.profile-block ul > li > a:hover, 
.profile-block ul > li > a:focus, 
.profile-block ul li.active a {
    background: #fff !important;
    border-radius: 0;
    color: #000 !important;
}
li.paginate_button.page-item {
    z-index: 0;
}
a.back{
    color:#ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.pizzaHeading{
    color: #aaa;
    text-transform: uppercase;
}
.list-group-item{
    border: 0px !important
}
.block{
    display: block
}
.none{
    display: none;
}
.disable{
    pointer-events: none;
    background: #80808080 !important;
}
.toppings_container {
    width: 500px;
    padding: 20px 0px 0px;
    margin-left: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #sq-ccbox {
    float:left;
    margin:5px;
    padding:10px;
    vertical-align: top;
    font-weight: bold;
  }
  
  #nonce-form {
    padding: 25px;
    text-align: right;
  }
  
  .sq-input {
    display: inline-block;
    border: 1px solid #E0E2E3;
    border-radius: 4px;
  }
  
  .sq-input--focus {
    border: 1px solid #4A90E2;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
  }
  
  .sq-input--error {
    border: 1px solid red;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-right: 16px;
  }
  
  .button-credit-card {
    display: block;
    width: 100%;
    height: 56px;
    padding: 15px;
    margin-top: 10px;
    background: #0EB00E;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    cursor:pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    outline: none;
  }
  button.btn.btn-primary.btn-red{
      background-color: #ff0000;border-color:  #ff0000;
  }
  .cart-btns button:nth-child(1){
      margin-right: 10px;
  }
  .cart-message-container{
        width:400px;
        margin:0 auto;
        border:2px solid #ddd;
        background-color: #f4f4f4;
        min-height: 400px;
        padding:30px;
        display: flex;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        position: absolute;
        }
  .cart-message{
      justify-content: center;
      align-self: center;
  }
  .cart-message p{
      font-size: 18px;
  }
  .current-price{
    float: right;
    margin-right: 45px;
    color:green;
  }
  .promo {
    display: flex;
    justify-content: space-between;
 
    align-items: center;
   
    margin-top: 20px;
}
.promo-top{
    flex: 2 1 0;
    margin-right: 20px;

}
.promo_applied{
    display: flex;
    margin-top: 35px;
    margin-bottom: 20px;
}